* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  font-size: 0.520833333vw;
}

body {
  font-family: "Noto Serif JP";
  overflow-x: hidden;
  margin: 0;
  background-color: #000;
}

body.fixed {
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

#main.loading {
  cursor: none;
}

#cursor,
#stalker,
#loader {
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 1001;
}

#cursor {
  top: -0.8rem;
  left: -0.8rem;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ffffff80;
}

#cursor.moving + #stalker {
  opacity: 1.0;
}

.inversion #cursor {
  background-color: #33333380;
}

.inversion #stalker {
  border: 2px solid #33333333;
}

#stalker,
#loader {
  width: 4.8rem;
  height: 4.8rem;
  transition: 
    opacity   400ms cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.0;
}

#stalker {
  top: -2.4rem;
  left: -2.4rem;
  border: 2px solid #ffffff33;
}

#loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-family: "Montserrat";
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading #loader {
  color: #ffffff;
  transition: none;
  animation: blink 1.6s infinite linear;
}

#loader::after {
  content: '';
  border-radius: 50%;
  position: absolute; 
  top: 0;
  left: 0;
  width: 4.8rem;
  height: 4.8rem;
  border: 2px solid #ffffff33;
  animation: none;
}

.loading #loader::after {
  border-top-color: #FFF;
  animation: spin 1.6s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  50% {
    opacity: 1.0;
  }
}

#about .animate,
#works .animate,
/* #service .animate, */
#provision .animate,
#links .animate {
  opacity: 0.0;
  transform: translateY(8.0rem);
  transition: 
    opacity 1000ms cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#about .animate.active,
#works .animate.active,
/* #service .animate.active, */
#provision .animate.active,
#links .animate.active {
  opacity: 1.0;
  transform: translateY(0);
}

/* #movie {
  background-color: #000;
  position: fixed;
  top: 0;
  left:0;
} */

/* #movie::before,
#movie::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #38b48bff;
} */

/* #movie::before {
  background-color: #38b48bff;
  mix-blend-mode: multiply;
} */

/* #movie::after {
  background-color: #38b48b00;
  transition: background-color 3000ms cubic-bezier(0.215, 0.61, 0.355, 1) 0ms;
}

.loading #movie::after {
  background-color: #38b48bff;
  animation: none;
} */



/* #video-area {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0.0;
} */

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0.0;
}

/* #video-area::before,
#video-area::after { */
  /* content: ''; */
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* width: 100vw; */
  /* height: 100vh; */
  /* background-color: #38b48bcc; */
  /* background-color: #38b48bff; */
  /* background-color: #38b48b66; */
  /* z-index: -1; */
  /* mix-blend-mode: multiply; */
  /* animation: video-appear 5000ms linear; */
  /* transition: background-color 3000ms cubic-bezier(0.215, 0.61, 0.355, 1) 0ms; */
/* } */

/* #video-area::before {
  background-color: #38b48bff;
  mix-blend-mode: multiply;
} */

/* #video-area::after {
  background-color: #38b48b4d;
  transition: background-color 3000ms cubic-bezier(0.215, 0.61, 0.355, 1) 0ms;
} */

/* .loading #video-area::after { */
  /* background-image: 
    radial-gradient(ellipse farthest-corner at 20% 20%, #38b48bff, transparent 50% 100%), 
    radial-gradient(ellipse farthest-corner at 70% 50%, #38b48bff, transparent 50% 100%), 
    radial-gradient(ellipse farthest-corner at 40% 75%, #38b48bff, transparent 50% 100%); */
  /* background: radial-gradient(ellipse, #38b48b4d 0%, #38b48bff 0%); */
  /* background-image: radial-gradient(ellipse, #38b48b4d, #38b48bff); */
  /* background-color: #38b48bff; */
  /* mix-blend-mode:initial; */
  /* animation: none; */
/* } */

/* @keyframes video-appear {
    0% { background: radial-gradient(ellipse, #38b48b4d 0%, #38b48bff 0%); }
   50% { background: radial-gradient(ellipse, #38b48b4d 0%, #38b48bff 100%); }
  100% { background: radial-gradient(ellipse, #38b48b4d 100%, #38b48bff 100%); }
} */

section {
  /* max-width: 100vw; */
  position: relative;
  min-height: 100vh;
  padding: 24.0rem 0 24.0rem;
  overflow-x: hidden;
  z-index: 1;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.4rem;
}

.section-title .main {
  font-family: "Montserrat";
  font-size: 6.4rem;
}

.section-title .sub {
  font-family: "Noto Sans JP";
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
  /* transition-delay: 2000ms; */
}

#mv {
  /* position: relative; */
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  width: 100vw;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* overflow: hidden; */
  padding: 0;
  /* z-index: 1000; */
  /* background-color: #333; */
  /* z-index: 1; */
  /* background-color: #38b48b; */
}

#movie {
  position: fixed;
  top: 0;
  left:0;
}

/* #mv .wrapper {
  position: relative;
  width: 100dvw;
  height: 100lvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* #mv #coordinate {
  position: fixed;
  top: 40.0rem;
  left: -50.0rem;
  font-family: "Courier Prime";
  font-size: 24.0rem;
  line-height: 1.0;
  letter-spacing: -1.0rem;
  transform: rotate(90deg);
  color: #ffffff1a;
} */

/* #mv #now {
  position: fixed;
  bottom: 28.0rem;
  right: 6.4rem;
  font-family: "Courier Prime";
  font-size: 4.0rem;
  line-height: 1.0;
  letter-spacing: -0.2rem;
  color: #ffffff1a;
} */

/* #mv #offset {
  position: fixed;
  bottom: 8.0rem;
  right: 4.8rem;
  font-family: "Courier Prime";
  font-size: 20.0rem;
  line-height: 1.0;
  letter-spacing: -0.8rem;
  color: #ffffff00;
  -webkit-text-stroke: 0.1rem #ffffff33;
} */

/* #mv .title-wrapper {
  position: absolute;
  pointer-events: none;
} */

/* #mv .title-wrapper .welcome {
  position: absolute;
  width: 22.0rem;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-size: 3.2rem;
  line-height: 1.0;
  color: #fff;
  opacity: 0.0;
  transform: translateY(1.2rem);
} */

/* #mv.active .title-wrapper .welcome {
  animation: pre-title 1600ms cubic-bezier(0.215, 0.61, 0.355, 1) 1600ms forwards;
} */

/* @keyframes pre-title {
    0% {opacity: 0.0;transform: translateY(1.2rem);}
   50% {opacity: 0.5;transform: translateY(1.2rem);}
  100% {opacity: 0.5;transform: translateY(-7.2rem);}
} */

/* #mv .title-wrapper #title,
#mv .title-wrapper #title-stalker,
#mv .title-wrapper #title-stalker2 {
  font-family: "Montserrat";
  font-size: 8.8rem;
  color: #ffffff00;
  line-height: 1.0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4.0rem;
  position: relative;
} */

/* #mv .title-wrapper #title {
  transition: color 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 3400ms;
} */

/* #mv .title-wrapper .title-shadow {
  position: absolute;
  -webkit-text-stroke: 0.1rem #ffffff00;
  transition: -webkit-text-stroke 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 3400ms
  , color 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 3400ms;
} */

/* #mv .title-wrapper #title-stalker,
#mv .title-wrapper #title-stalker2 {
  position: absolute;
  -webkit-text-stroke: 0.1rem #ffffff00;
  transition: -webkit-text-stroke 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 3400ms
  , color 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 3400ms;

  color: #ffffff00;
} */

/* #mv.active .title-wrapper #title {
  color: #ffff0000;
  pointer-events: none;
} */

/* #mv.active .title-wrapper .title-shadow { */
  /* color: #38b48b80; */
  /* filter: blur(0.5px); */
  /* -webkit-text-stroke: 0.1rem #eeeeee33; */
  /* -webkit-text-stroke: 0.1rem #38b48bb3; */
/* } */

/* #mv.active .title-wrapper #title-stalker { */
  /* color: #ffffff4d; */
  /* -webkit-text-stroke: 0.1rem #ffffff4d; */
  /* -webkit-text-stroke: 0.1rem #ffffff00; */
  /* pointer-events: fill; */
  /* pointer-events: none; */
  /* transform-style: preserve-3d; */
  /* perspective: 500px; */
/* } */

/* #mv.active .title-wrapper #title-stalker2 { */
  /* color: #ffffff1a; */
  /* -webkit-text-stroke: 0.1rem #ffffff1a; */
  /* -webkit-text-stroke: 0.1rem #ffffff00; */
  /* pointer-events: none; */
  /* padding: 1.0rem; */
/* } */

/* #mv.active .title-wrapper #title > div {
  animation: waves 1200ms cubic-bezier(0.215, 0.61, 0.355, 1);
} */

/* #mv.active .title-wrapper #title-stalker > div {
  animation: waves-shadow 1200ms cubic-bezier(0.215, 0.61, 0.355, 1);
} */

/* #mv.active .title-wrapper #title-stalker2 > div {
  animation: waves-shadow2 1200ms cubic-bezier(0.215, 0.61, 0.355, 1);
} */

/* @keyframes waves {
  0% {transform: translate(0, 0);}
 11% {transform: translate(0, -30%);}
 44% {transform: translate(0, 20%);}
100% {transform: translate(0, 0);}
} */

/* @keyframes waves-shadow {
  0% {transform: translate(0, 0) scaleY(1.0);}
 11% {transform: translate(5%, -40%) scaleY(1.8);}
 44% {transform: translate(2%, 30%) scaleY(1.3);}
100% {transform: translate(0, 0) scaleY(1.0);}
} */

/* @keyframes waves-shadow2 {
  0% {transform: translate(0, 0) scaleY(1.0);}
 11% {transform: translate(5%, -45%) scaleY(1.8);}
 44% {transform: translate(2%, 35%) scaleY(1.3);}
100% {transform: translate(0, 0) scaleY(1.0);}
} */

/* #mv .title-wrapper .flash-bar {
  opacity: 0.0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
} */

/* #mv .title-wrapper .flash-bar::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  transform: translateX(-101%);
} */

/* #mv.active .title-wrapper .flash-bar::after {
  animation: elasticity2 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 2800ms;
} */

/* @keyframes elasticity {
  0% { transform: translateX(-101%); }
  20% { opacity: 1;}
  23% { opacity: 0.5;}
  26% { opacity: 1;}
  29% { opacity: 0.3;}
  32% { opacity: 1;}
  49% { transform: translateX(0); }
  51% { transform: translateX(0); }
 100% { transform: translateX(101%); }
} */

/* @keyframes elasticity2 {
  0% { transform: translateX(-101%); }
  20% { opacity: 1;}
  23% { opacity: 0.5;}
  26% { opacity: 1;}
  29% { opacity: 0.3;}
  32% { opacity: 1;}
  35% { opacity: 0.5;}
  38% { opacity: 1;}
  49% { transform: translateX(0); }
  51% { transform: translateX(0); }
 100% { transform: translateX(101%); }
} */

/* #mv .cross-line {
  opacity: 0.0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, #fff);
  transform-origin: left center;
  transform: scaleX(0);
  animation: none;
} */

/* #mv.active .cross-line {
  animation: cross-line 1000ms 0ms cubic-bezier(0.215, 0.61, 0.355, 1);
} */

/* @keyframes cross-line {
    0% {
      transform-origin: left center;
      transform: scaleX(0);
    }
   40% {
    transform-origin: left center;
    transform: scaleX(100%);
   }
   41% {
    transform-origin: right center;
    transform: scaleX(100%);
   }
  100% {
    transform-origin: right center;
    transform: scaleX(0);
  }
} */

/* #mv .guide {
  display: none;
  opacity: 0.0;
  position: absolute;
  bottom: 6.4rem;
  transition: opacity 1400ms cubic-bezier(0.215, 0.61, 0.355, 1) 3800ms;
} */

/* #mv.active .guide {
  opacity: 1.0;
} */

/* #mv .guide .text {
  font-family: "Montserrat";
  font-size: 2.0rem;
  line-height: 1.8;
  text-align: center;
  color: #ffba4f;
  margin: 0 0 1.6rem;
} */

/* #mv .guide .arrow {
  text-align: center;
} */

/* #mv .guide .arrow svg {
  width: 9.6rem;
  height: 6.4rem;
  opacity: 0.5;
} */







/* .webgl-canvas {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.webgl-canvas__body {
  width: 100%;
  height: 100%;
}

.container {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
}

.webgl-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.webgl-canvas__body {
  width: 100%;
  height: 100%;
}

.image-list {
  width: 800px;
  margin: 0 auto;
  padding: 180px 0;
}

.image-item {
  width: 100%;
}

.image-item:not(:first-of-type) {
  margin-top: 180px;
}

.image-wrapper {
  display: block;
  width: 100%;
  height: 500px;
}

.image-wrapper > img {
  height: 100%;
  object-fit: cover;
  opacity: 0;
} */



/* .imgWrapper {
  position: relative;
  width: 500px;
  height: 300px;
}

.imgWrapper::before {
  content: '';
  display: block;
  padding-top: 150%;
}
 
.displacement-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.displacement-hover canvas {
  width: 100% !important;
  height: 100% !important;
}

.displacement-hover img {
  display: none;
} */




#about {
  /* position: relative; */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 100vh; */
}

#about .section-title .main {
  color: #38b48b;
}

#about .section-title .sub {
  color: #aaa;
}

#about .text {
  width: 136.0rem;
  column-count: 2;
  column-gap: 6.4rem;
}

#about .text p {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2.0;
  letter-spacing: 0.1rem;
  color: #333;
  margin: 0;
}

#about .text p:not(:last-of-type) {
  margin: 0 0 3.2rem;
}





#works {
  /* background-color: #0C7F4C; */
  background-color: #ccc;
  background-color: #38b48b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#works .section-title .main {
  color: #fff;
  /* color: #38b48b; */
}

#works .section-title .sub {
  color: #ccc;
  /* color: #999; */
}

#works .wrapper {
  height: 48.0rem;
}

#works-list {
  position: static;
  /* list-style-type: none;
  margin: 0;
  padding: 0; */
  width: 136.0rem;
  height: 48.0rem;
  /* width: 100%; */
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  align-items: center;
  /* overflow-x: auto; */
  /* overflow: auto; */
  padding: 6.4rem 8.0rem;
  z-index: 1;
  pointer-events: none;
  background-color: #ffffff33;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#works-list.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#works-list > li {
  position: relative;
  width: 32.0rem;
  height: 48.0rem;
  border-radius: 1.6rem;
  box-shadow: 0.2rem -0.1rem 0 0 #666;
  margin: 0 -9.6rem;
  transform: rotate3d(0.7, 1, -0.38, -70deg);
  pointer-events: all;
  overflow: hidden;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#works-list > li.open {
  position: absolute;
  top: calc((100vh - 72.0rem) / 2);
  left: calc((100vw - 96.0rem) / 2);
  width: 96.0rem;
  height: 72.0rem;
  /* border-radius: 1.6rem; */
  box-shadow: none;
  margin: 0;
  background-color: #fff;
  /* padding: 7.2rem 4.8rem; */
  /* color: #333; */
  transform: none;
  z-index: 100;
}

#works-list > li.open:hover {
  cursor: default;
  transform: none;
}

#works-list > li .movie,
#works-list > li .image {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#works-list > li .movie,
#works-list > li .image {
  width: 100%;
  height: 100%;
}

#works-list > li .movie:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  background-image: 
    radial-gradient(#444 20%, transparent 50%),
    radial-gradient(#444 20%, transparent 50%);
  background-size: 0.3rem 0.3rem;
  background-position: 0 0, 0.3rem 0.3rem;
  background-repeat: repeat;
  z-index: 2;
}


#works-list > li .movie img {
  border-radius: 1.6rem;
  object-fit: cover;
}

#works-list > li .movie,
#works-list > li .close,
#works-list > li.open .image {
  opacity: 0.0;
  z-index: -1;
}

#works-list > li.open .movie,
#works-list > li.open .close,
#works-list > li .image {
  opacity: 1.0;
  z-index: 0;
}

#modal-bg {
  /* content: ''; */
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  /* left: - calc((100vw - 136.0rem) / 2); */
  width: 100vw;
  height: 100vh;
  background-color: #000000cc;
  opacity: 0.0;
  z-index: 0;
  transform: none;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#modal-bg.open {
  opacity: 1.0;
  z-index: 1;
}

#works-list > li .close {
  position: absolute;
  top:   2.0rem;
  right: 2.0rem;
  font-size: 4.0rem;
  color: #ccc;
  filter: drop-shadow(0 0 0.2rem #333);
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  /* z-index: 1; */
  /* box-shadow: 0.2rem -0.1rem 0 0 #666; */
}

#works-list > li .close:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.4rem #000);
}

/* #works .works-list > li:first-of-type {
  margin-right: 12.8rem;
} */

/* #works .works-list > li::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  border-radius: 1.6rem;
  background-color: #00000000;
  transition: background-color 200ms ease-in-out;
} */

/* #works .works-list > li:nth-of-type(3n),
#works .works-list > li:last-of-type {
  margin-right: 0;
} */

/* #works .works-list > li:not(:nth-last-of-type(-n+3)) {
  margin-bottom: 12.8rem;
} */

#works-list > li:hover {
  cursor: pointer;
  transform: rotate3d(0.7 , 1, -0.38, -70deg) translateY(-5.0rem);
  /* border: 2px solid #333333; */
  /* transform: rotate3d(0, 0, 0, 0) scale(1.5); */
  /* margin: 4.0rem 8.0rem; */
  /* z-index: 999; */
}

/* #works .works-list > li:hover::after {
  background-color: #00000099;
} */

#works-list > li .image img {
  width: 100%;
  height: 100%;
  /* width: 32.0rem; */
  /* height: 48.0rem; */
  border-radius: 1.6rem;
  object-fit: cover;
}

#works .works-list > li.reple img {
  object-position: top;
}

#works .works-list > li .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20.0rem;
  margin: auto;
  padding: 0 2.4rem;
  color: #ffffff00;
  /* font-family: "M PLUS 1p"; */
  font-family: "Noto Sans JP";
  font-size: 2.4rem;
  text-align: center;
  z-index: 2;
  transition: color 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

#works .works-list > li:hover .title {
  color: #ffffffff;
}





#provision {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#provision .section-title .main{
  color: #333;
}

#provision .section-title .sub {
  color: #aaa;
}

#provision .card {
  /* list-style-type: none; */
  /* margin: 0; */
  /* padding: 0; */
  width: 136.0rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

#provision .card > li {
  /* width: 52.0rem; */
  /* box-shadow: 0.8rem 0.8rem 0.8rem 0 #00000033; */
  width: 31%;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  /* border: 1px solid #38b48b; */
  border-radius: 1.6rem;
  background-color: #fff;
  overflow: hidden;
  /* padding: 4.8rem; */
}

#provision .card > li:not(:last-of-type) {
  margin-right: 4.8rem;
}

#provision .card > li .title {
  position: relative;
  /* font-family: "Montserrat"; */
  font-family: "Noto Sans JP";
  color: #fff;
  background-color: #38b48b;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: left;
  /* margin-bottom: 3.2rem; */
  padding: 3.2rem 3.0rem 3.2rem 6.4rem;
  /* border: 1px solid #38b48b; */
  /* border-radius: 1.6rem 1.6rem 0 0; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#provision .card > li .title i {
  position: absolute;
  top: 2.6rem;
  left: 2.6rem;
  font-size: 4.8rem;
  color: #ffffff4d;
}

#provision .card > li .body {
  font-size: 1.8rem;
  line-height: 2.0;
  letter-spacing: 0.1rem;
  text-align: left;
  color: #333;
  /* background-color: #fff; */
  padding: 3.2rem;
  /* border: 1px solid #38b48b; */
  /* border-radius: 0 0 1.6rem 1.6rem; */
  /* display: flex; */
  /* align-self: stretch; */
  /* height: 100%; */
}

/* #service {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#service .section-title .main{
  color: #38b48b;
}

#service .section-title .sub {
  color: #aaa;
}

#service .card {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#service .card > li {
  width: 52.0rem;
  background-color: #fafafa;
  box-shadow: 0.8rem 0.8rem 0.8rem 0 #00000033;
  padding: 4.8rem;
}

#service .card > li:not(:last-of-type) {
  margin-right: 6.4rem;
}

#service .card > li .title {
  color: #38b48b;
  font-size: 2.8rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 3.2rem;
}

#service .card > li .body {
  font-size: 1.8rem;
  line-height: 2.0;
  letter-spacing: 1px;
  text-align: left;
  color: #333;
} */





#links {
  /* background-color: #33333333; */
  /* mix-blend-mode: multiply; */
  /* background-color: #0C7F4C; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

#links::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  /* background-color: #00000099; */
  mix-blend-mode: multiply;
}

#links .section-title .main{
  color: #38b48b;
}

#links .section-title .sub {
  color: #ccc;
}

#links .table {
  font-family: "Montserrat";
  width: 80.0rem;
  margin: 2.4rem auto 0;
}

#links .table .table-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 4.8rem 0;
  font-size: 2.8rem;
  line-height: 2.0;
}

#links .table .table-line .column1 {
  width: 28.0rem;
  text-align: left;
  /* font-weight: bold; */
  color: #ffba4f;
}

#links .table .table-line .column2 {
  width: 52.0rem;
  text-align: left;
  color: #fff;
}

#links .table .table-line .column2 a,
#links .table .table-line .column2 a.visited {
  color: #fff;
  text-decoration: none;
  transition: color 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#links .table .table-line .column2 a i {
  color: #fff;
  transition: color 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#links .table .table-line .column2 a:hover,
#links .table .table-line .column2 a:hover i {
  color: #38b48b;
  /* opacity: 0.7; */
}






.modal {
  width: 100vw;
  height: 100vh;
  background-color: #000000b3;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.show {
  opacity: 1.0;
  z-index: 10000;
}

.modal .box {
  position: relative;
  z-index: 10001;
  width: 96.0rem;
  background-color: #fff;
  /* font-family: "M PLUS 1p"; */
  padding: 7.2rem 4.8rem;
  color: #333;
  /* border-radius: 0.8rem; */
  border-radius: 1.6rem;
  overflow: hidden;
}

.modal .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.8rem;
  height: 2.8rem;
  padding: 2.4rem;
  margin: 1.2rem;
  cursor: pointer;
}

.modal .close-btn::before,
.modal .close-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 2.8rem;
  height: 3px;
  border-radius: 1.5px;
  background-color: #999;
}

.modal .close-btn::before {
  transform: rotate(45deg);
}

.modal .close-btn::after {
  transform: rotate(-45deg);
}

.modal .close-btn:hover::before,
.modal .close-btn:hover::after {
  background-color: #666;
}

.modal .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal .content img {
  width: 40.0rem;
  height: 30.0rem;
  border: 2px solid #ccc;
  object-fit: contain;
  object-position: center;
  margin-right: 4.8rem;
  margin-bottom: 2.4rem;
}

.modal .content .info {
  width: 40.0rem;
  height: 30.0rem;
  font-size: 1.8rem;
  line-height: 2.0;
  text-align: left;
}

.modal .content .info-item span {
  background-color: #ffba4f;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
}

.modal .content .info-content {
  margin: 0 0 16px 16px;
  word-break: break-all;
}

.modal .content .desc {
  /* font-family: "Noto Serif JP"; */
  font-size: 1.8rem;
  line-height: 2.0;
  letter-spacing: 1px;
  text-align: left;
}

.modal a {
  color: #38b48b;
  text-decoration: underline;
}

.modal a:hover {
  opacity: 0.5;
}





/* タブレット */
@media only screen and (max-width: 1024px) {

  html, body {
    font-size: 0.9765625vw;
  }

  #about .text {
    width: 100%;
    padding: 0 9.6rem;
    column-count: 1;
  }

  #works .works-list {
    width: 100%;
    padding: 0 9.6rem;
  }

  #works .works-list > li:nth-of-type(3n) {
    margin-right: 12.8rem;
  }

  #works .works-list > li:nth-of-type(2n),
  #works .works-list > li:last-of-type {
    margin-right: 0;
  }

  #works .works-list > li:not(:nth-last-of-type(-n+3)) {
    margin-bottom: 0;
  }

  #works .works-list > li:not(:nth-last-of-type(-n+2)) {
    margin-bottom: 12.8rem;
  }

  #service .card {
    flex-direction: column;
    padding: 0 9.6rem;
  }

  #service .card > li {
    width: 100%;
  }  

  #service .card > li:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 8.0rem;
  }
  
}





/* スマホ */
@media only screen and (max-width: 599px) {

  html, body {
    font-size: 1.669449081vw;
  }

  #mv .title {
    font-size: 6.4rem;
  }

  #about .text,
  #works .works-list {
    padding: 0 4.8rem;
  }

  #about .text p {
    font-size: 2.5rem;
  }

  #works .works-list > li,
  #works .works-list > li:nth-of-type(3n) {
    margin-right: 0;
  }

  #works .works-list > li:not(:nth-last-of-type(-n+3)),
  #works .works-list > li:not(:last-of-type) {
    margin-bottom: 12.8rem;
  }

  #works .works-list > li img {
    width: 40.0rem;
    height: 60.0rem;
  }

  #service .card {
    padding: 0 4.8rem;
  }

  #service .card > li .title {
    font-size: 3.5rem;
  }

  #service .card > li .body {
    font-size: 2.5rem;
  }

  #links .table {
    padding: 0 4.8rem;
  }

  #links .table .table-line {
    flex-direction: column;
    align-items: flex-start;
    font-size: 3.5rem;
  }
  
  #links .table .table-line .column2 {
    padding-left: 4.8rem;
  }

  .modal .box {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
  }

  .modal .content img {
    width: 100%;
    height: auto;
    max-height: 48.0rem;
  }

  .modal .content .info {
    width: 100%;
    height: initial;
    font-size: 2.5rem;
  }

  .modal .content .desc {
    font-size: 2.5rem;
  }

}
