* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  font-size: 0.520833333vw;
}

body {
  font-family: "Noto Serif JP";
  overflow-x: hidden;
  margin: 0;
  background-color: #000;
}

body.fixed {
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

#main.loading {
  cursor: none;
}

#cursor,
#stalker,
#loader {
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 1001;
}

#cursor {
  top: -0.8rem;
  left: -0.8rem;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ffffff80;
}

#cursor.moving + #stalker {
  opacity: 1.0;
}

.inversion #cursor {
  background-color: #33333380;
}

.inversion #stalker {
  border: 2px solid #33333333;
}

#stalker,
#loader {
  width: 4.8rem;
  height: 4.8rem;
  transition: 
    opacity   400ms cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.0;
}

#stalker {
  top: -2.4rem;
  left: -2.4rem;
  border: 2px solid #ffffff33;
}

#loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-family: "Montserrat";
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading #loader {
  color: #ffffff;
  transition: none;
  animation: blink 1.6s infinite linear;
}

#loader::after {
  content: '';
  border-radius: 50%;
  position: absolute; 
  top: 0;
  left: 0;
  width: 4.8rem;
  height: 4.8rem;
  border: 2px solid #ffffff33;
  animation: none;
}

.loading #loader::after {
  border-top-color: #FFF;
  animation: spin 1.6s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  50% {
    opacity: 1.0;
  }
}

#about .animate,
#works .animate,
#provision .animate,
#links .animate {
  opacity: 0.0;
  transform: translateY(8.0rem);
  transition: 
    opacity 1000ms cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#about .animate.active,
#works .animate.active,
#provision .animate.active,
#links .animate.active {
  opacity: 1.0;
  transform: translateY(0);
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0.0;
}

section {
  position: relative;
  min-height: 100vh;
  padding: 24.0rem 0 24.0rem;
  overflow-x: hidden;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.4rem;
}

.section-title .main {
  font-family: "Montserrat";
  font-size: 6.4rem;
}

.section-title .sub {
  font-family: "Noto Sans JP";
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
}





#mv {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

#movie {
  position: fixed;
  top: 0;
  left:0;
}





#about {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about .section-title .main {
  color: #38b48b;
}

#about .section-title .sub {
  color: #aaa;
}

#about .text {
  width: 136.0rem;
  column-count: 2;
  column-gap: 6.4rem;
}

#about .text p {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2.0;
  letter-spacing: 0.1rem;
  color: #333;
  margin: 0;
}

#about .text p:not(:last-of-type) {
  margin: 0 0 3.2rem;
}





#works {
  background-color: #ccc;
  background-color: #38b48b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#works .section-title .main {
  color: #fff;
}

#works .section-title .sub {
  color: #ccc;
}

#works-list {
  position: static;
  width: 136.0rem;
  height: 54.0rem;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  align-items: center;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#works-list > li,
#works-list > li img,
#modal-wrap,
#modal-box {
  width: 32.0rem;
  height: 48.0rem;
  border-radius: 1.6rem;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#works-list > li,
#modal-wrap {
  margin: 0 -8.8rem;
}

#works-list > li.hidden {
  opacity: 0.0;
}

#works-list > li img,
#modal-box {
  box-shadow: 0.2rem -0.1rem 0 0 #666;
  transform: rotate3d(0.7, 1, -0.38, -70deg);
}

#works-list > li img {
  object-fit: cover;
}

#works-list > li img:hover {
  cursor: pointer;
  transform: rotate3d(0.7 , 1, -0.38, -70deg) translateY(-5.0rem);
}

#modal-wrap {
  position: absolute;
  margin: 0;
}

#modal-box {
  background-color: #fff;
}

#modal-img {
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
  object-fit: cover;
}

#modal-wrap.expand,
#modal-wrap.expand #modal-box {
  width: 96.0rem;
  height: 72.0rem;
}

#modal-wrap.expand {
  position: absolute;
  top: calc((100vh - 72.0rem) / 2);
  left: calc((100vw - 96.0rem) / 2);
}

#modal-wrap.expand #modal-box {
  transform: none;
}

#modal-wrap.expand #modal-img {
  object-fit: contain;
}

#modal-wrap.expand #modal-box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
  background-color: rgba(0, 0, 0, 0.0);
  background-image: 
    radial-gradient(#444 20%, transparent 50%),
    radial-gradient(#444 20%, transparent 50%);
  background-size: 0.3rem 0.3rem;
  background-position: 0 0, 0.3rem 0.3rem;
  background-repeat: repeat;
  cursor: default;
}

#modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000cc;
  opacity: 0.0;
  z-index: -1;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
}

#modal-bg.open {
  opacity: 1.0;
  z-index: 1;
}

#modal-close {
  position: absolute;
  top: -6.4rem;
  right: 0;
  font-size: 4.0rem;
  color: #fff;
  opacity: 0.0;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  pointer-events: none;
}

.expand #modal-close {
  opacity: 1.0;
}

#modal-close:hover {
  cursor: pointer;
}

#modal-title {
  position: absolute;
  left: 0;
  bottom: -4.0rem;
  font-family: "Noto Sans JP";
  font-size: 2.0rem;
  color: #fff;
  opacity: 0.0;
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.expand #modal-title {
  opacity: 1.0;
  pointer-events: none;
}





#provision {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#provision .section-title .main{
  color: #333;
}

#provision .section-title .sub {
  color: #aaa;
}

#provision .card {
  width: 136.0rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

#provision .card > li {
  width: 31%;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  border-radius: 1.6rem;
  background-color: #fff;
  overflow: hidden;
}

#provision .card > li:not(:last-of-type) {
  margin-right: 4.8rem;
}

#provision .card > li .title {
  position: relative;
  font-family: "Noto Sans JP";
  color: #fff;
  background-color: #38b48b;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: left;
  padding: 3.2rem 3.0rem 3.2rem 6.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#provision .card > li .title i {
  position: absolute;
  top: 2.6rem;
  left: 2.6rem;
  font-size: 4.8rem;
  color: #ffffff4d;
}

#provision .card > li .body {
  font-size: 1.8rem;
  line-height: 2.0;
  letter-spacing: 0.1rem;
  text-align: left;
  color: #333;
  padding: 3.2rem;
}





#links {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#links::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  mix-blend-mode: multiply;
}

#links .section-title .main{
  color: #fff;
}

#links .section-title .sub {
  color: #bbb;
}

#links .table {
  font-family: "Montserrat";
  width: 80.0rem;
  margin: 2.4rem auto 0;
}

#links .table .table-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 4.8rem 0;
  font-size: 2.8rem;
  line-height: 2.0;
}

#links .table .table-line .column1 {
  width: 28.0rem;
  text-align: left;
  color: #ffba4f;
}

#links .table .table-line .column2 {
  width: 52.0rem;
  text-align: left;
  color: #fff;
}

#links .table .table-line .column2 a,
#links .table .table-line .column2 a.visited {
  color: #fff;
  text-decoration: none;
  transition: color 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#links .table .table-line .column2 a i {
  color: #fff;
  transition: color 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#links .table .table-line .column2 a:hover,
#links .table .table-line .column2 a:hover i {
  color: #38b48b;
}





/* タブレット */
@media only screen and (max-width: 1024px) {

  html, body {
    font-size: 0.9765625vw;
  }

  #about .text {
    width: 100%;
    padding: 0 9.6rem;
    column-count: 1;
  }

  #about .text p:nth-of-type(4) {
    margin: 0 0 9.6rem;
  }

  #works-list {
    width: 100%;
    height: initial;
    padding: 0 9.6rem;
    flex-wrap: wrap;
  }

  #provision .card {
    width: 100%;
    flex-wrap: wrap;
    padding: 0 9.6rem;
  }

  #provision .card > li {
    width: 100%;
    min-height: 38.0rem;
  }

  #provision .card > li:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 8.0rem;
  }
  
}





/* スマホ */
@media only screen and (max-width: 600px) {

  html, body {
    font-size: 1.666666666vw;
  }

  #about .text,
  #works-list,
  #provision .card,
  #links .table {
    padding: 0 4.8rem;
  }

  #about .text p,
  #provision .card > li .body {
    font-size: 2.4rem;
  }

  #modal-wrap.expand,
  #modal-wrap.expand #modal-box {
    width: 54.0rem;
    height: 40.5rem;
  }

  #modal-wrap.expand {
    top: calc((100vh - 40.5rem) / 2);
    left: calc((100vw - 54.0rem) / 2);
  }

  #modal-title {
    height: 6.0rem;
    bottom: -7.0rem;
  }

  #provision .card > li {
    min-height: 75.0rem;
  }

  #provision .card > li .title {
    font-size: 3.0rem;
  }

  #provision .card > li .title i {
    font-size: 5.6rem;
  }

  #links .table .table-line {
    flex-direction: column;
    align-items: flex-start;
    font-size: 3.2rem;
  }
  
  #links .table .table-line .column2 {
    padding-left: 4.8rem;
  }

}
